deep-learning/
*.csv
fra.txt
Modern Recurrent Neural Networks/Fra Eng Bilingual Sentence Pairs
Optimization Algorithms/airfoil+self+noise/airfoil_self_noise.dat
Optimization Algorithms/data
*/data/*
data/*
Computational Performance/my_mlp
Computer Vision/data/*
Natural Language Processing/Pretraining/ptb/*
Natural Language Processing/glove.6B.50d
Natural Language Processing/Pretraining/wikitext
Natural Language Processing/Applications/aclImdb    
Natural Language Processing/Applications/snli_1.0